* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color: white;
}

a:hover {
    background-color: #C1121F;
    color: #FDF0D5;
}

a:active {
    background-color: #C1121F;
    color: #FDF0D5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 20px;
}

.index {
    float: left;
}

.index a {
    float: left;
    text-align: center;
    color: #780000;
    font-size: 24;
    padding: 14px 16px;
    font-weight: bold;
}

.index a:hover {
    background-color: white;
}

.index a:active {
    background-color: white;
}

.top-nav {
    position: sticky;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
        width: 100%;
    }

    .index a {
        float: none;
        width: 100%;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-footer-item-left {
    flex: 33.33%;
    text-align: justify;
}

.flex-footer-item-middle {
    flex: 33.33%;
    text-align: justify;
}

.flex-footer-item-right {
    flex: 33.33%;
    text-align: justify;
}

.copyright {
    width: 100%;
    text-align: center;
    margin: 20px;
}

.footer h2 {
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    font-size: 18px;
}



















