* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    box-sizing: border-box;
}

/*Styling the hero section*/
.hero-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 72px auto 24px auto;
    /* overflow: auto; */
}

.hero-img {
    background-color: #FFFBC7;
    width: 250px;
    height: auto;
}

.hero-text {
    margin-left: 40px;
    padding-left: 10px;
}

.hero-text h1 {
    font-size: 36px;
    /* line-height: 54px; */
}

.hero-text > p {
    font-size: 22px;
    border-left: 5px solid #2F263A;
    margin-left: 8px;
    padding-left: 14px;
    /* line-height: 33px; */
}


@media only screen and (max-width: 992px) {
    .hero-flex-container {
        flex-direction: column;
    }
    .hero-text {
        max-width: 75%;
    }
}

/*Styling the main contents of the homepage*/
.main-content {
    max-width: 75%;
    margin: 20px auto;
    padding: 10px;
}

.main-content h2 {
    text-align: center;
    font-size: 28px;
}

.main-content p {
    text-align: justify;
    line-height: 27px;
}

@media screen and (max-width: 992px) {
    .main-content {
        max-width: 90%;
        margin: 12px auto;
    }
}

/*Styling the hobbies section in homepage*/
.hobbies {
    width: 300px;
    margin: auto;
    position: relative;
}

.hobby-card {
    box-shadow: 0 4px 8px 0 #425C5A;
    margin: auto;
    text-align: center;
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -16px;
    padding: 16px;
    color: #2F263A;
    background-color: #ccc;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #425C5A;
  }
  

.hobby-card img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hobby-card-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #FFFBC7;
    background-color: #425C5A;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 8px;
}

.hobby-card-button:hover,
.hobby-card-button a:hover {
    opacity: 0.7;
}

.hobby-card h3 {
    font-size: 20px; 
    margin: 24px 0;
}
.hobby-card p {
    font-size: 16px;
    margin: 12px;
}


/*Styling the projects section*/
.project-section-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    /* overflow: auto; */
    width: 100%; 
    height: 500px; 
    margin: auto;
}

.project-section-container > div {
    height: fit-content; 
    width: 100%; 
    margin-right: 20px; 
    text-align: center;
}

.project-section-container img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.project-section-container img:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .project-section-container {
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
        overflow-y: auto;
    }
    .project-section-container > div {
        width: 200px;
        margin: 5px auto;
    }
}
/* Styling skills section */
.skills-container {
    background-color: #2F263A;
    opacity: 0.8;
    color: #FFFBC7;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    outline: none;
    border: none;
}

.active, .skills-container:hover {
    opacity: 1;
}

.skills-content {
    display: none;
    padding: 0 20px;
    font-size: 16px;
    overflow: hidden;
}

/* Styling areas of interest section */
.interest-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: center;
}

.interest-grid-items {
    margin: 0 40px 40px 0;
}

.interest-grid-items p {
    font-size: 16px;
}

/* Making the interests responsive */
@media only screen and (max-width: 992px) {
    .interest-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-content: center;
        margin: 0 auto;
    }
} 

@media only screen and (max-width:600px) {
    .interest-grid-items {
        grid-column: 1/ span 3;
        max-width: 90%;
        margin: 20px auto;
    }
}

/*Styling the navigation bar for the whole website*/
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-nav, footer {
    overflow: hidden;
    background-color: #425C5A;
    color: #FFFFFF;
    max-width: 100%;
    margin: auto;
}

.index {
    float: left;
}

.top-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 12px 14px;
    font-size: 1.25em;
    color: #FFFFFF;
}

.menu {
    float: right;
}

.top-nav a:hover {
    background-color: #FFFBC7;
    color: #000000;
}

.top-nav a:active {
    background-color: #FFFBC7;
    color: #000000;
}

.top-nav .nav-icon {
    display: none;
}

.nav-icon a:hover {
    background-color: #425C5A;
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .top-nav .menu {
        display: none;
    }

    .top-nav .nav-icon {
        display: block;
        float: right;
        margin-right: 24px;
        padding: 24.5px;
    }

    .top-nav.responsive {
        position: fixed; 
        top: 0; 
        left: 0;
    }

    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Style for the footer for whole website*/
.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-footer-item-left,
.flex-footer-item-middle,
.flex-footer-item-right {
    flex: 1; /* Equal width for all footer items */
    text-align: justified;
    padding: 0 8%; /* Adding padding for spacing between items */
}

.copyright {
    width: 100%;
    text-align: center;
    margin: 20px;
}

.footer h2 {
    font-size: 1.25em;
}

.footer a {
    text-decoration: none;
    font-size: 1.125em;
    color: #FFFFFF;
}

footer a:hover {
    background-color: #FFFBC7;
    color: #000000;
}

footer a:active {
    background-color: #2F263A;
    color: #FFFFFF;
}


@media (max-width: 600px) {
    .flex-footer-item-left, 
    .flex-footer-item-middle, 
    .flex-footer-item-right {
        flex: 100%;
        text-align: center;
    }
}

/* Style inputs in contact form*/
input[type=text], text, select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #425C5A;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
  
input[type=submit]:hover {
    background-color: #FFFBC7;
    color: #000000;
}

@media screen and (max-width: 600px) {
    input[type=text], text, select, textarea {
        width: 100%;
    }
    input[type=email] {
        width: 100%;
    }
}

/*Style contact cards in contact form*/
.contact-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    max-width: 75%;
    margin: auto;  
}

.contact-cards h2 {
    font-size: 24px;
}

.contact-card-items {
    padding: 0 20px;
    margin: 20px 12px;
    border: 2px solid #ccc;
    border-radius: 8%;
}

.contact-card-items:hover {
    background-color: #FFFBC7;
    /* color: #FFFFFF; */
}

.contact-buttons,
.contact-buttons a {
    background-color: #425C5A;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    font-size: 1.125em;
    margin: 12px 0;
    border-radius: 100px;
}

.contact-buttons:hover, 
.contact-buttons:hover a {
    /* background-color: #FFFBC7; */
    color: #FFFBC7;
    animation: contact-button-animation 2s infinite ease-in-out;
}

@keyframes contact-button-animation {
    from {backround-color: #425C5A;}
    to {background-color: #2F263A;}
}

/*Making the contact cards responsive*/
@media only screen and (max-width: 992px) {
    .contact-card-items {
        grid-column: 1/ span 3;
        text-align: center;
        max-width: 300px;
        margin: 20px auto;
    }
}

/*Styling the homepage of projects*/
.left-column {
    float: left;
    width: 70%;
    padding-top: 40px;
}

.left-column h3, 
.blogs-right-column h3 {
    font-size: 22px;
}

.left-column p,
.blogs-right-column p {
    line-height: 28px;
    font-size: 20px;
}

.projects-title {
    font-size: 36px; 
    text-align: center;
    line-height: 54px;
}

.right-column {
    float: left;
    width: 30%;
    padding: 40px 0 0 20px;
}

/*Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Making the columns responsive*/
@media screen and (max-width: 600px) {
    .left-column, .right-column {   
      width: 100%;
      padding: 0;
    }
}

.project-card {
    margin-top: 20px;
    padding: 20px;
}

.project-image {
    width: 100%;
    height: auto;
}

.project-tags {
    display: inline-block;
    color: #FFFBC7;
    background-color: #425C5A;
    border-radius: 30px;
    padding: 8px 20px;
    margin: 8px;
}

.contact-card {
    box-shadow: 0 4px 8px 0 #425C5A;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.contact-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.contact-card-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #FFFBC7;
    background-color: #425C5A;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 8px;
}

.contact-card-button:hover,
.contact-card-button a:hover {
    opacity: 0.7;
}

.recent-projects-card {
    box-shadow: 0 4px 8px 0 #425C5A;
    max-width: 400px;
    margin: auto;
    height: 754px;
}

.recent-projects-card-image {
    float: left;
    width: 30%;
    height: auto;
    padding-left: 4px;
}

.recent-projects-card-link {
    float: left;
    width: 70%;
    padding: 8px 8px 0 8px;
    height: 200px;
    text-align: left;
    text-decoration: none;
    color: #425C5A;
    font-weight: bold;
}

.recent-projects-card-link:hover {
    color: #2F263A;
}

.recent-projects-card h1 {
    font-size: 26px; 
    margin-top: 96px; 
    padding: 16px 0; 
    text-align: center;
}

/*Styling the 'Read More' link*/
.read-more {
    text-decoration: none;
    color: #2F263A;
    font-weight: bold;
    opacity: 0.8;
}

.read-more:hover {
    opacity: 1;
}

/*Styling the related project card in a project and blog page*/
.related-project {
    padding-top: 16px;
    overflow: hidden;
    width: 60%;
    margin: 20px auto;
}

.related-project > img {
    width: 150px; 
    display: inline-block; 
    vertical-align: top;
    height: auto;
}

.related-project > a {
    height: 150px; 
    display: block; 
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling the homepage of blogs*/
 .blogs-left-column {
    float: right;
    width: 30%;
    padding-top: 40px;
}

.blogs-right-column {
    float: right;
    width: 70%;
    padding: 40px 0 0 20px;

}

/*Making the columns of blogs homepage responsive*/
@media screen and (max-width: 600px) {
    .blogs-left-column,
    .blogs-right-column {   
      width: 100%;
      padding: 0;
    }
}


/*Styling projects and blog pages*/
.project-container {
    width: 70%; 
    text-align: justify; 
    margin: auto;
}

.project-container h1 {
    text-align: left; 
    font-size: 36px;
}
.project-container h3 {
    font-size: 24px; 
    opacity: 0.7;
}

.project-container p {
    font-size: 20px;
    line-height: 30px;    
}

@media screen and (max-width: 600px) {
    .project-container {
        width: 100%;
        padding: 0 12px;
    }
}